
  {% extends "admin/master.html" %}


  {% block content %}
<div class="row">
  <div class="col-lg-6">
      <h1 class="page-header">Dashboard</h1>
  </div>
    <hr>
</br>
</br>
    <div class="row">
            {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category=='error' %}
                        {% set category='danger' %}
                    {% endif %}
                    <div class="alert alert-{{category}}">{{ message|safe }}</div>
                {% endfor %}
            {% endif %}
        {%- endwith %}
    </div>

  <!-- /.col-lg-12 -->
</div>

<div class = "container-fluid">
  <div class="row">


    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                   
                </div>
            </div>
            <a href="{{url_for('backup', type='daily')}}">
                <div class="panel-footer">
                    <span class="pull-left">ورځنی</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
   
    
</div>
</div>
{% endblock %}

{% block head_js %} 
<!-- <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script> -->
<script src="{{ url_for('static',filename='vendor/datatables/js/jquery.dataTables.min.js') }}"></script>

<!-- <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script> -->
<script src="{{ url_for('static',filename='vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>

<!-- <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script> -->
<script src="{{ url_for('static',filename='vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
<!-- <script src="{{ url_for('static',filename='data/morris-data.js') }}"></script> -->

 {% endblock %} 
