{% extends "admin/master.html" %} {% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">د کلینک ریفورڼونه</h1>
  </div>

  <!-- /.col-lg-12 -->
</div>

<div class="container-fluid">
  <div class="row" style="direction:ltr">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-yellow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-user-md fa-5x "></i>
            </div>
          </div>
        </div>
        <a href="{{ url_for('doctorByProfession', report='y') }}">
          <div class="panel-footer">
            <span class="pull-right">ډاکټران</span>
            <span class="pull-left"
              ><i class="fa fa-arrow-circle-right"></i
            ></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-red">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-users fa-5x"></i>
            </div>
          </div>
        </div>
        <a href="{{ url_for('employeeByJob', report='y') }}">
          <div class="panel-footer">
            <span class="pull-right">کاریګر</span>
            <span class="pull-left"
              ><i class="fa fa-arrow-circle-right"></i
            ></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-bed fa-5x"></i>
            </div>
          </div>
        </div>
        <a href="{{ url_for('patient', report='y') }}">
          <div class="panel-footer">
            <span class="pull-right"> مریضان </span>
            <span class="pull-left"
              ><i class="fa fa-arrow-circle-right"></i
            ></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-money fa-5x"></i>
            </div>
          </div>
        </div>
        <a href="{{ url_for('salaryReport') }}">
          <div class="panel-footer">
            <span class="pull-right">معاشات</span>
            <span class="pull-left"
              ><i class="fa fa-arrow-circle-right"></i
            ></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-support fa-5x"></i>
            </div>
          </div>
        </div>
        <a href="{{ url_for('visitFilter') }}">
          <div class="panel-footer">
            <span class="pull-left"> لیدنی </span>
            <span class="pull-right"
              ><i class="fa fa-arrow-circle-right"></i
            ></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-support fa-5x"></i>
            </div>
          </div>
        </div>
        <a href="{{ url_for('testFilter') }}">
          <div class="panel-footer">
            <span class="pull-left">معاینات</span>
            <span class="pull-right"
              ><i class="fa fa-arrow-circle-right"></i
            ></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-yellow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-support fa-5x"></i>
            </div>
          </div>
        </div>
        <a href="{{url_for('paymentFilter', report='y')}}">
          <div class="panel-footer">
            <span class="pull-right"> د ډاکټرانو فیس </span>
            <span class="pull-left"
              ><i class="fa fa-arrow-circle-right"></i
            ></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-red">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-support fa-5x"></i>
            </div>
          </div>
        </div>
        <a href="{{url_for('testPaymentFilter', report='y')}}">
          <div class="panel-footer">
            <span class="pull-right"> د معایناتو فیس </span>
            <span class="pull-left"
              ><i class="fa fa-arrow-circle-right"></i
            ></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- {% endblock %}

{% block head_js %} -->
<!-- <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script> -->
<script src="{{ url_for('static',filename='vendor/datatables/js/jquery.dataTables.min.js') }}"></script>

<!-- <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script> -->
<script src="{{ url_for('static',filename='vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>

<!-- <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script> -->
<script src="{{ url_for('static',filename='vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
<!-- <script src="{{ url_for('static',filename='data/morris-data.js') }}"></script> -->

<!-- <script src="../data/morris-data.js"></script> -->
<!-- <script>

    $(document).ready(function() {

            $('#dataTables-example').DataTable({
                responsive: true
            });

        });

    </script> -->
<!-- {% endblock %} -->
