
{% extends "Doctor/master.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='vendor/datatables-plugins/dataTables.bootstrap.css') }}">

  <!-- DataTables Responsive CSS -->
  <!-- <link href="static/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet"> -->
<link rel="stylesheet" href="{{ url_for('static' ,filename='vendor/datatables-responsive/dataTables.responsive.css') }}">
<style>

.navbar{
    display: none
}

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}
.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #FFFFFF;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
}
.circle-tile-heading .fa {
    line-height: 80px;
}
.circle-tile-content {
    padding-top: 50px;
}
.circle-tile-number {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 0 15px;
}
.circle-tile-description {
    text-transform: uppercase;
}
.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.circle-tile-heading.dark-blue:hover {
    background-color: #2E4154;
}
.circle-tile-heading.green:hover {
    background-color: #138F77;
}
.circle-tile-heading.orange:hover {
    background-color: #DA8C10;
}
.circle-tile-heading.blue:hover {
    background-color: #2473A6;
}
.circle-tile-heading.red:hover {
    background-color: #CF4435;
}
.circle-tile-heading.purple:hover {
    background-color: #7F3D9B;
}
.tile-img {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.dark-blue {
    background-color: #34495E;
}
.green {
    background-color: rgb(109, 124, 121);
}
.blue {
    background-color: #2980B9;
}
.orange {
    background-color: #F39C12;
}
.red {
    background-color: #E74C3C;
}
.purple {
    background-color: #8E44AD;
}
.dark-gray {
    background-color: #7F8C8D;
}
.gray {
    background-color: #95A5A6;
}
.light-gray {
    background-color: #BDC3C7;
}
.yellow {
    background-color: #F1C40F;
}
.text-dark-blue {
    color: #34495E;
}
.text-green {
    color: #16A085;
}
.text-blue {
    color: #2980B9;
}
.text-orange {
    color: #F39C12;
}
.text-red {
    color: #E74C3C;
}
.text-purple {
    color: #8E44AD;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}



</style>
{% endblock %}

{% block body %}

<div class="container bootstrap snippet">
    <div class="row" style="margin-top:100px">
      <div class=" col-md-4">
        <div class="circle-tile ">
          <a href="{{url_for('unvisitedPatients')}}"><div class="circle-tile-heading dark-blue"><i class="fa fa-bed fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content dark-blue">
            <div class="circle-tile-description text-faded"> نالیدل شوی مریضان </div>
            <div class="circle-tile-number text-faded "> <i class = "fa fa-bell" ></i> </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="circle-tile ">
          <a href="{{url_for('visitedPatients')}}"><div class="circle-tile-heading bg-primary"><i class="fa fa-plus-square fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content bg-primary">
            <div class="circle-tile-description text-faded"> لیدل شوی مریضان </div>
            <div class="circle-tile-number text-faded "> <i class = "fa fa-bell" ></i> </div>
          </div>
        </div>
      </div>

      <div class=" col-md-4">
        <div class="circle-tile ">
          <a href="{{url_for('showTest')}}"><div class="circle-tile-heading green"><i class="fa fa-shopping-cart fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content green">
            <div class="circle-tile-description text-faded"> معاینات </div>
            <div class="circle-tile-number text-faded "> <i class = "fa fa-bell" ></i>  </div>
          </div>
        </div>
      </div>
    </div>
    </div>



{% endblock %}

{% block head_js %}
<!-- <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script> -->
<script src="{{ url_for('static',filename='vendor/datatables/js/jquery.dataTables.min.js') }}"></script>

<!-- <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script> -->
<script src="{{ url_for('static',filename='vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>

<!-- <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script> -->
<script src="{{ url_for('static',filename='vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

<script>

    $(document).ready(function() {

            $('#dataTables-example').DataTable({
                responsive: true
            });

        });


        $('#patientName').one("click",function(){

                 $.getJSON('/getPatientNames' ,

                  function(data) {
                     console.log(data);
                    for(var i = 0; i < data.length; i++){
                     $('#patientName').append('<option>'+ data[i]['patientName'] +'</option>');
                    }


                 });

       });

       $('#docterName').one("click",function(){

           $.getJSON('/getDocterNames' ,

            function(data) {
               console.log(data);
              for(var i = 0; i < data.length; i++){
               $('#docterName').append('<option>'+ data[i]['employeeName'] +'</option>');
              }


           });

 });

    </script>
{% endblock %}
