
{% extends "recieption/master.html" %}



{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='vendor/datatables-plugins/dataTables.bootstrap.css') }}">

  <!-- DataTables Responsive CSS -->
  <!-- <link href="static/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet"> -->
<link rel="stylesheet" href="{{ url_for('static' ,filename='vendor/datatables-responsive/dataTables.responsive.css') }}">

{% endblock %}

{% block body %}
{% with message = get_flashed_messages() %}
{% if message %}
{% for m in message %}
<div class="container">
    <div class="alert alert-success">
        {{m}}
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="row" style="margin-top:20px">
    <div class="col-sm-4 pull-right">
        <div class="panel panel-default">
            <div class="panel-heading ">
                <h4> د معایناتو ثبتول </h4>
               
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form method="POST" action="{{url_for('addTest')}}" >
               
               {{form.csrf_token}}

               {{wtf.form_field(form.Id)}}                
               {{wtf.form_field(form.name)}}
               {{wtf.form_field(form.amount)}}               

               <input type="submit" class="form-control" value="ثبتول" >
                
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="input-group ">
                      <input type="text" class="form-control" placeholder="Search...">
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                          <i class="fa fa-search"></i>
                      </button>
                  </span>
                 
              </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th hidden = true >ID</th>
                                <th>نوم</th>
                                <th>مقدار</th>
                                <th>اکشن</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for test in datalist %}
                          <tr>
                              <td hidden = true >{{test.Id}}</td>
                              <td>{{test.Name}}</td>

                              <td>{{test.Amount}}</td>
                              <td>
                                <a href="{{ url_for('updateTesType', testTypId=test.Id)}}" ><button  class= "update btn btn-warning btn-sm"><i class ="fa fa-edit"></i> </button></a>
                                <a href="{{ url_for('removeTestype', testTypId=test.Id)}}"><button onclick="return confirm('ar you sure')" class= "update btn btn-danger btn-sm"><i class ="fa fa-trash fa-large"></i> </button></a>

                              </td>

                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                    
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    
</div>


{% endblock %}

{% block head_js %}
<!-- <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script> -->
<script src="{{ url_for('static',filename='vendor/datatables/js/jquery.dataTables.min.js') }}"></script>

<!-- <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script> -->
<script src="{{ url_for('static',filename='vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>

<!-- <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script> -->
<script src="{{ url_for('static',filename='vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

<script>

    $(document).ready(function() {

            $('#dataTables-example').DataTable({
                responsive: true
            });

            setTimeout(function(){

                $('.alert').fadeOut('fast');
            },1500);

        });
    
    </script>
{% endblock %}